<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Todo List</title>
  </head>

  <body>
    <h1>Todo List</h1>
    <form method="post" action="/item/add">
      <label for="title">Title :</label>
      <input type="text" name="title" />
      <label for="description">Description :</label>
      <input type="text" name="description" />
      <input type="submit" value="Add" />
    </form>
    <h4>Lists :</h4>
    <ul>
      <% items.forEach(function(item) { %>
      <li><%= item.title %> (<%= item.description %>)</li>
      <% }); %>
    </ul>
  </body>
</html>
